<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
  <test name="Test on real device">
  	<parameter name="deviceName" value="Android device"/>
  	<parameter name="URL" value="http://127.0.0.1:1234/wd/hub"/>
  	<parameter name="udid" value="192.168.1.12:5555" />
    <classes>
      <class name="com.apidemo.testCases.TestApiParallel"/>
    </classes>
  </test> 
 <test name="Test on emulator">
  	<parameter name="deviceName" value="samsung"/>
  	<parameter name="URL" value="http://127.0.0.2:3456/wd/hub"/>
  	<parameter name="udid" value="192.168.206.101:5555" />
    <classes>
      <class name="com.apidemo.testCases.TestApiParallel"/>
    </classes>
  </test> 
</suite> <!-- Suite -->
